.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    color: red;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    height: 100%;
    width: var(--default-layout-header-width);
}
